*{margin:0;padding:0;}
html{height:100%}
body{height:100%; font-family: "Arial"}
.bg {
	background-color:#FFFFFF; background-repeat:no-repeat;padding:0 0 0 40px;
}

.login{border-right: 1px solid #000000;border-left: 1px solid #000000;height:15px;width:1023px;background-color:#fff;position:relative;}
.upper_right_wrap{color:#EC008C; font-size:12px;position:absolute;top:3px;right:3px;}
.upper_right_wrap a{color:#EC008C;margin-left:20px;text-decoration:none;}
.upper_right_wrap a:hover{text-decoration:underline;}

.upper_banner{border-right: 1px solid #000000;border-left: 1px solid #000000;height:59px;width:1023px;background-color:#fff;}

.title{background:url(../media/title.jpg) no-repeat;width:250px; height:50px;margin:0 10px 0 10px;float:left;}
.black_tree{background:url(../media/black_tree.jpg) no-repeat;width:50px; height:50px;margin:0 10px 0 10px;float:left;}

.green_tree{background:url(../media/green_tree.jpg) no-repeat;width:71px; height:50px;margin:0 10px 0 0;float:left;}

.pink_tree{background:url(../media/pink_tree.jpg) no-repeat;width:63px; height:50px;margin:0 10px 0 0;float:left;}

#tree_input{margin: 33px 10px 0 0px;}
#neighborhood_input{margin: 33px 10px 0 0px;}
#search{margin: 33px 10px 0 0px;}

.right_column{}

#navcontainer {height:100%;float:left;background:#fff;width: 180px;height:525px;border-top:5px solid #000;border-right:5px solid #000;border-bottom:5px solid #000; }

#navcontainer ul
{
	margin-left: 0;
	padding: 0;
	list-style-type: none;
	font: 21px Arial Narrow, Helvetica, sans-serif;
}

#navcontainer a
{
	color:#fff;
	display: block;
	padding: 10px 0 0 20px;
	width: 160px;
	height:35px;
	background-color: #4D4D4D;
	margin: 15px 0 0px 0;
}

#navcontainer a:link, #navlist a:visited, #navlist2 a:visited
{
	color: #fff;
	text-decoration: none;
}

#navcontainer a:hover
{
	background-color: #000;
	color: #fff;
}

#navlist2{margin:-20px 0 0 0;}

#map {
	clear:left;
	//position:absolute;
	left:0px;
	top:0px;
	margin:0;
	width:831px;
	height:525px;
	border: 5px solid #000;
	float:left;
	padding:0;
}

.bigmap {
	clear:left;
	width: 900px;
	height: 525px;
	//border: 1px solid #ccc;
	padding:0;
}
.image_feed{height:75px;width:1023px;//border:1px solid black;clear:float;}
#dock {
	margin:533px 0 0 0; padding:0;
	width:1023px;
	height:90px;
	list-style:none;
	position:relative;
	//text-align:center;
}
#dock li {
	margin:0; padding:0 0 18px 0;
	display:inline;
}
#dock li.dock-active {} 
#dock li a:link, #dock li a:active, #dock li a:visited {
	margin:10px 7px 0 7px; padding:2px 0 0 0;
	width:75px; height:75px;
	background-color:#fff;
	display:inline-block;
	border:none;
	color:#000;
}
#dock li span {
	margin:0; padding:0;
	width:1023px; height:auto;
	position:absolute;
	display:none;
	top:0; left:0;
	//text-align:center;
	//text-transform:uppercase;
	font: 1.17em Verdana, Helvetica, sans-serif; color:#0C1A0F;
	letter-spacing:2px;
}