{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<title>guerilla grafters!</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	
	<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css"> 
    <link rel="stylesheet" href="http://openlayers.org/dev/examples/style.css" type="text/css">

        {% compress css %}
	<link href="/public/css/style.css" rel="stylesheet" media="screen" type="text/css">
        {% endcompress %}

	<style type="text/css">
		.bigmap {
		    width: 831px;
		    height: 525px;
		    border: 1px solid #ccc;
		}	
        #controlToggle li {
            list-style: none;
        }
    </style>    


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://openlayers.org/dev/lib/Firebug/firebug.js"></script>
	<script type="text/javascript" src="http://openlayers.org/api/2.8/OpenLayers.js"></script>
	<script type="text/javascript" src="http://openstreetmap.org/openlayers/OpenStreetMap.js"></script>

	<script type="text/javascript">
	    neighborhoodFeatures = [];
	    {% for neighborhood in neighborhoods %}
    
		var feature = new OpenLayers.Feature.Vector(
		    OpenLayers.Geometry.fromWKT('{{ neighborhood.geom.wkt }}')
		);
	    neighborhoodFeatures.push(feature);
		{% endfor %}
    </script>

    <script type="text/javascript" src="/public/js/mapping.js"></script>

</head>

<body class="bg">
		<div class="login">	<a href="index.html"><div class="title"></div></a> <div class="upper_right_wrap"><a href="">login</a>. <a href="">sign-up</a>.</div></div>
	<div class="upper_banner">
		<a href="/"><div class="title"></div></a>
		<a href=""><div class="black_tree"></div></a>
		<a href=""><div class="green_tree"></div></a>
		<a href=""><div class="pink_tree"></div></a>
		<input id="tree_input" value="tree" />
		<input id="neighborhood_input" value="neighborhood" />
		<input id="search" value="search" />
	</div>

	<!-- map / about or other specific content goes here -->
	<div id="content">
	    {% block content %}
		{% endblock %}
	</div>
	
	<div id="navcontainer">
	<ul id="navlist">
		<li><a href="#">add tree</a></li>
		<li><a href="#">add graft</a></li>
		<li><a href="#">add photo</a></li>
		<li><a href="#">find your branch</a></li>
	</ul>
	<img src="/public/media/logo_for_right.jpg" width="180" />
	<ul id="navlist2">
		<li id="active"><a href="/about/" id="current">about us</a></li>
	</ul>
	</div>

	{% block footer %}
	<div class="image_feed">
		<ul id="dock">
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft2.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
					<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
					<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft2.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft2.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft2.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft2.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
			<li><a href="" rel="bookmark" title="">
				<img src="/public/media/graft1.jpg" width="75" alt="" /></a>
				<span></span>
			</li>
		</ul>
	</div>
	{% endblock %}
	
</body>
</html>
