{% load compress %}
<!DOCTYPE html>
<html>
<head>
	<title>SF Guerilla Grafter</title>

	<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css"> 
    <link rel="stylesheet" href="http://openlayers.org/dev/examples/style.css" type="text/css">

	<style type="text/css">
		.bigmap {
		    width: 900px;
		    height: 600px;
		    border: 1px solid #ccc;
		}	
	</style>
    <style type="text/css"> 
        #controlToggle li {
            list-style: none;
        }
    </style>    


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script src="http://openlayers.org/dev/lib/Firebug/firebug.js"></script>
	<script type="text/javascript" src="http://openlayers.org/api/2.8/OpenLayers.js"></script>
	<script type="text/javascript" src="http://openstreetmap.org/openlayers/OpenStreetMap.js"></script>

	<script type="text/javascript">
    neighborhoodFeatures = [];
    {% for neighborhood in neighborhoods %}
    
	var feature = new OpenLayers.Feature.Vector(
	    OpenLayers.Geometry.fromWKT('{{ neighborhood.geom.wkt }}')
	);
    neighborhoodFeatures.push(feature);
	{% endfor %}
    </script>


    <script type="text/javascript" src="/public/js/mapping.js"></script>



</head>

<body>
  <div id="map" class="bigmap"></div> 
</body>

</html>
